<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>The page you were looking for doesn't exist - Personal Journal</title>
</head>

<body class="login-bg">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <div id="error-page" class="row">
                    <div class="error-container card-panel">
                        <h1 class="center-align mt0">404</h1>
                        <p class="mb20">Sorry, we can’t find the page you were looking for.</p>
                        <a href="/" class="waves-effect waves-teal btn deep-orange col s12">Go home</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>