{% extends 'base.html' %}

{% block title %}Edit entry{% endblock title %}

{% block content %}

<div class="row">
    <div class="col s12">
        <div class="card">
            <form action="{{ url_for('update_entry', entry_id=entry._id) }}" method="POST">
                <div class="card-content">
                    <div class="row">
                        <div class="input-field">
                            <span class="material-icons prefix">
                                subject
                            </span>
                            <textarea id="entry_story" name="entry_story" class="materialize-textarea validate"
                                required="" aria-required="true">{{entry.entry_story}}</textarea>
                            <label for="entry_story">Story</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <span class="material-icons prefix">
                                sentiment_satisfied
                            </span>
                            <select id="feeling" name="feeling_name">
                                <option value="" disabled selected>Add a feeling</option>
                                {% for feeling in feelings %}
                                {% if feeling.feeling_name == entry.feeling_name %}
                                <option value="{{feeling.feeling_name}}" selected>{{feeling.feeling_name}}</option>
                                {% else %}
                                <option value="{{feeling.feeling_name}}">{{feeling.feeling_name}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <label>Feeling</label>
                        </div>
                    </div>
                </div>
                <div class="card-action right-align">
                    <button class="btn waves-effect waves-light deep-orange" type="submit">Save<i
                            class="material-icons right">add</i></button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}