{% extends 'base.html' %}

{% block title %}Entries{% endblock title %}

{% block content %}

{% if entries_num > 0 %}
{% for entry in entries %}
<div class="row" id="entry-{{entry._id}}">
    <div class="col s12">
        <div class="card z-depth-1">
            <div class="card-content">
                <span class="new badge deep-orange tooltipped" data-position="top" data-tooltip="Date created"
                    data-badge-caption="{{entry.entry_created.strftime('%a %d %b, %Y')}}"></span>
                <p class="flow-text">{{entry.entry_story}}</p>
            </div>
            <div class="card-action">
                <a href="{{url_for('edit_entry', entry_id=entry._id)}}">Edit</a>
                {% if entry.entry_status == "1" %}
                <a href="#" class="archive_entry" data-id="{{entry._id}}">Archive</a>
                {% elif entry.entry_status == "2" %}
                <a href="#" class="unarchive_entry" data-id="{{entry._id}}">Unarchive</a>
                {% endif %}
                <a href="#delete_entry_modal" class="modal-trigger delete-confirm" data-id="{{entry._id}}">Delete</a>
                {% if entry.feeling_name %}
                <span class="right">feeling {{entry.feeling_name}}</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% else %}
<blockquote>
    <p>No entries yet.</p>
</blockquote>
{% endif %}

<div id="delete_entry_modal" class="modal">
  <div class="modal-content">
    <h4>Are you sure?</h4>
    <p>Do you really want to delete this record? This process cannot be undone.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-close btn waves-effect waves-light grey">Cancel</a>
    <a href="#" class="btn waves-effect waves-light red delete_entry">Delete</a>
  </div>
</div>

{% endblock %}