{% extends 'base.html' %}
{% block content %}

{% if entries_num > 0 %}
{% for entry in entries %}
<div class="row">
    <div class="col s12">
        <div class="card z-depth-1">
            <div class="card-content">
                <span class="new badge teal darken-3 tooltipped" data-position="top" data-tooltip="Date created"
                        data-badge-caption="{{entry.entry_created.strftime('%a %d %b, %Y')}}"></span>
                <p class="flow-text">{{entry.entry_story}}</p>
            </div>
            <div class="card-action">
                <a href="{{url_for('edit_entry', entry_id=entry._id)}}">Edit</a>
                <a href="{{url_for('archive_entry', entry_id=entry._id)}}">Archive</a>
                <span class="right">feeling {{entry.feeling_name}}</span>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<blockquote>
    <p>No entries yes.</p>
</blockquote>
{% endif %}

{% endblock %}