<html>

<head>
    <title>Personal Journal</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/materialize.min.css">

</head>

<body class="login-bg">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <div id="login-page" class="row">
                    <div class="col s12 m6 z-depth-4 card-panel login-card">
                        <form class="login-form" method="POST">
                            <div class="row mb0">
                                <div class="input-field col s12">
                                    <input id="username" name="username" type="text" class="validate" required=""
                                        aria-required="true">
                                    <label for="username">Username</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn waves-effect waves-light deep-orange col s12">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>